.create-form {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.input-value {
    padding: 0px 20px;
    border-radius: 20px;
    margin: 5px auto;
    height: 20px;
    width: 50%;
}
